.cart-container {
  font-size: 1rem;
  width: 95vw;
  margin: 40px auto;
  padding: 20px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.cart-empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1rem;
  color: #888;
  padding-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 7px;
  border-radius: 0px;
  border-bottom: 2px solid #d3d3d3;
  gap: 20px;
}

.cart-item-img-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ffffff;
}

.cart-item-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-item-details h3 {
  margin: 0 0 5px 0;
  font-size: 0.9rem;
  color: #000000;
}
.cart-item-details p {
  margin: 2px 0;
  color: #3f3f3f;
  font-size: 0.9rem;
}

.cart-item-actions {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.item-total {
  font-weight: bold;
  font-size: 1.2rem;
  color: #4caf50;
  margin: 0;
}

.remove-btn {
  border-color: #875959;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s;
}
.remove-btn:hover {
  border-color: #ff0000;
  background-color: white;
}

.cart-summary {
  text-align: left;
  padding-top: 20px;
}

.checkout-btn {
  border-color: #4caf50;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 17px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}
.checkout-btn:hover {
  border-color: #296a2d;
  background-color: white;
}

@media (max-width: 900px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
