.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #141414;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 0.9rem;
}

.product-content {
    display: flex;
    flex-direction: column;
}

.product-title {
    margin: 0 0 8px 0;
    font-size: 1.25rem;
    color: #ffffff;
}

.product-price{
    font-size: 3rem;
    font-style: italic;
    align-self: flex-end;
}

.product-category {
    display: inline-block;
    font-size: 0.75rem;
    background-color: #292929;
    padding: 4px 8px;
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 8px;
    width: fit-content;
}

.product-description {
    margin: 0;
    color: #ffffff;
    line-height: 1.5;
}