.product-card {
    border: 3px solid #3c3c3c;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #202020;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
}

.product-card:hover{
    background-color: #2d2d2d;
}

.product-image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #c2c2c2;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 0.9rem;
}

.product-content {
    display: flex;
    flex-direction: column;
}

.product-title {
    margin: 0 0 8px 0;
    font-size: 1.25rem;
    color: #ffffff;
}

.product-price{
    font-size: 3rem;
    font-style: italic;
    color:rgb(26, 143, 24);
    margin-left:20px
}

.product-category {
    display: inline-block;
    font-size: 22px;
    color: #aaa;
    width: fit-content;
}

.product-description {
    margin: 0;
    color: #ffffff;
    line-height: 1.5;
}