.details-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 40px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    align-items: center;
}

.back-btn {
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 20px;
    align-self: flex-start;
}
.back-btn:hover { color: #fff; }

.details-card {
    display: flex;
    width: calc(100% - 60px);
    gap: 40px;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


.details-image {
    object-fit: contain;
}

.details-info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details-title { margin-top: 0; font-size: 2rem; }
.details-category { 
    background-color: #333; 
    padding: 5px 5px;
    margin-left:10px;
    width: fit-content;
    border-radius: 5px;
    font-size: 14px;
    color: #ccc;
}
.details-price { color: #73815b; font-size: 42px; margin:0px 0px 0px 10px; }
.details-stock { margin-bottom: 20px; color: #aaa; }
.details-description { line-height: 1.6; color: #ddd; margin-bottom: 30px; }

.details-actions {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    margin-top: auto;
}

.quantity-control input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #444;
    background: #222;
    color: #fff;
    width: 60px;
    margin-left: 10px;
}

.add-cart-btn {
    background-color: #73815b;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}
.add-cart-btn:hover { background-color: #999999; }
.add-cart-btn:disabled { background-color: #444; cursor: not-allowed; }
#add-opinion-btn{
    background-color: #616161;
    flex-basis:30%;
}

#add-opinion-btn:hover{
    background-color: rgb(117, 117, 117);
    flex-basis:30%;
}

.opinion{
    text-align: left;
}

#add-opinion-btn:disabled { background-color: #444; cursor: not-allowed; }

textarea{
    width:70%;
}

.action-message { color: #73815b; margin-top: 10px; }

.reviews-section {
    margin-top: 40px;
    background: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    width:70vw;
}

.add-review-box { display: flex; gap: 10px; margin-bottom: 30px; }
.add-review-box textarea {
    flex: 1;
    background: #222;
    border: 1px solid #444;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    min-height: 60px;
}
.review-item {
    border-bottom: 1px solid #333;
    padding: 15px 0;
}
.review-item small { color: #666; margin-left: 10px; }
.review-item p { color: #ccc; margin: 5px 0 0 0; }